*{
  margin: 0; padding: 0; box-sizing: border-box;
}
#navbar {
  padding-left: 30px;
  padding-right: 30px;

}

#first{
  padding: 40px 0 40px 0;
}
 .human{
 position: relative;
 }
.mainbox{
  padding: 100px 0 200px 0;
  position: relative;
}
 .textbox{
position: relative;
top: 200px;


 }
.Human-kind-img{
margin:auto;
  padding:120px auto 120px auto;
}
.kind{
position: absolute;
right: 75px;
top: 35px;



}
img {
  max-width: 100%;
  max-height: 100%;
}

.kind-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;


}
.container{
position: relative;
}
.text{

}
.main{
  border: 6px solid black;
  border-radius: 20px;
}
.main:hover{
    border-width: 6px 6px 8px 8px;
}
#second{
  padding: 20px 0 20px 0;

}
.image{
  padding: 25px 10px;
}
.boxcontent{
padding: 70px 10px;
}
.learn-btn{
  padding: 10px 0 0 10px;
}
.boximage{

}
 .sec-img{
  vertical-align: middle;
}
.boxcontent2{
  padding: 30px 0;
}
.help-btn{
  padding: 20px 0 0 10px;
}
.text-pad{
  padding:20px 0;
}
#sec4{
  background-color:#f5f5f5
}
.sec4pad{
  padding:40px;
}
.sec4pad{
  border: 6px solid black;
  border-radius: 20px;
  background-color: #ffffff
}
.sec4pad:hover{
  border-width: 6px 6px 8px 8px;
}
.boxpadding{
  padding: 40px 0 40px 0;

}
.sec4img{
  padding: 40px 0 40px 0;
}
.learnmore-btn{
  padding: 10px 0;
}
.get-btn{
  padding: 10px 0;
}
.boxpadding-sec5{
  border: 6px solid black;
  border-radius: 20px;
  background-color: black;
}
.headsec5{
  text-align: center;
}
.para1sec5{
  text-align: center;
}
.bg-sec5{
  background: url(Images Sourcce\sec5 bg.png);
}
.whitebox{
  padding: 55px 40px 70px 40px;


}
.headsec8{
  color: white;
}
.alignment-box1{
  margin: 30px;
}
.alignment-box2{
  margin: 30px;
}
.int-pad{
  padding: 70px 40px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #ffffff
}
#sec6 {
  background-image: url('Images Sourcce/sec6 bg.png');
  background-size: cover;
  background-position: center center;
}
#sec5 {
  background-image: url('Images Sourcce/sec5 bg.png');
  background-size: cover;
  background-position: center center;
  padding: 200px;
}
#sec7{
  padding: 20px 0 30px 0;
}
.text7{
  padding-top: 50px;
}
#sec8{
  background-color: #000000;
}
.black-bg{
  background-image: url('Images Sourcce/sec 8 bg2.png');
  background-size: cover;
  background-position: center center;

}
.borderbox7{
  border: 6px solid black;
  border-radius: 20px;
  background-color: white;

}
.borderbox7:hover{

    border-width: 6px 6px 8px 8px;
}
.borderbox8:hover{

    border-width: 6px 6px 8px 8px;
}
.borderbox8{
  border: 6px solid black;
  border-radius: 20px;
  background-color: white;
}
.box10{
margin: auto;
width: 50%;
}
button{

  display: inline-block;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 50px;
  transition: border-width 0.01s ease-in-out;
  color: black;
  background-color: white;
}
button:hover {
  border-left-width: 4px;
  border-bottom-width: 4px;
}
.headsec5{
  color: white;
}
.para1sec5{
  color: white;
}
.join-disc-btn{
  padding: 10px 0;
}
.burn-btn{
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 50px;
  transition: border-width 0.01s ease-in-out;
  color: white;
  background-color: black;
}
.burn-btn:hover {
  border-left-width: 4px;
  border-bottom-width: 4px;
  background-color: #e03327;
}
.lrn-btn{
  display: inline-block;
  padding: 10px 20px;
  border: 0px solid black;
  border-radius: 50px;
  transition: border-width 0.01s ease-in-out;
  color: black;
  background-color: #ffd81b;
}
.lrn-btn:hover {
  border-left-width: 4px ;
  border-bottom-width: 4px ;
  background-color: #e1ff00;
  border-left-color: #ffd81b;
  border-bottom-color: #ffd81b;
}
div a {
  text-decoration: none;
  color: #000000;
}
